name: CI - Client

on:
  push:
    branches: [ main ]
    paths:
      - 'client/**'
  pull_request:
    branches: [ main ]
    paths:
      - 'client/**'

jobs:
  client:
    uses: ./.github/workflows/reusable-client.yml
    permissions:
      contents: read
    with:
      upload_coverage: true


