name: CI - Docker

on:
  push:
    branches: [ main ]
    paths:
      - 'docker/**'
  pull_request:
    branches: [ main ]
    paths:
      - 'docker/**'

jobs:
  docker:
    uses: ./.github/workflows/reusable-docker.yml
